@model ReviewsSite.Models.Movie



@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>@Html.DisplayFor(model => model.Title)</h4>
    <hr />
    <dl class="row">

        <dt class="col-sm">
            @Html.DisplayNameFor(model => model.Rating)
        </dt>
        <dd class="col-sm">
            @Html.DisplayFor(model => model.Rating)
        </dd>
        <dt class="col-sm">
            @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm">
            @Html.DisplayFor(model => model.Genre)
        </dd>
        <dt class="col-sm">
            @Html.DisplayNameFor(model => model.ReleaseYear)
        </dt>
        <dd class="col-sm">
            @Html.DisplayFor(model => model.ReleaseYear)
        </dd>
        <dt class="col-sm">
            @Html.DisplayNameFor(model => model.Award)
        </dt>
        <dd class="col-sm">
            @Html.DisplayFor(model => model.Award)
        </dd>




        <dd class="mt-3">
            <h4> Actors List</h4>
            <hr />
            <dl class="d-flex">

                @foreach (var actor in Model.Actors)
                {
                    <dt class="px-5">@actor.Actor.Name</dt>
                }
            </dl>
        </dd>


        <dd>
            <h4> Reviews List</h4>
            <hr />
            <ul class="nostyle">
                @foreach (var review in Model.Reviews)
                {
                    <li>
                        <div>@review.Comment</div>
                        <br>
                        <div>@review.Name</div>
                        <br><br>
                        <hr />
                    </li>
                }
            </ul>

        </dd>





    </dl>

    <span class="font-italic font-weight-bold p-2"><a asp-action="Create" asp-controller="Review" asp-route-id="@Model.Id" rel="noopener noreferrer" class="text-decoration-none"> ADD review for: @Model.Title  </a></span>
    <br /><br />

</div>

<div>
    
    
     <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
