@model IEnumerable<ReviewsSite.Models.Actor>

@{
    ViewData["Title"] = "Index";
}

<h2>Actor List</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                Movie
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <ul>
                        @foreach (var am in item.Movies)
                        {
                        <li>

                            <span class="p-2"><a asp-action="Details" asp-controller="Movie"  asp-route-id="@am.Movie.Id"  rel="noopener noreferrer" class="text-decoration-none">@am.Movie.Title</a></span>

                           


                        </li>
                        }
                    </ul>
                </td>
                <td>
                    @*<a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |*@
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
